<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="becalm.com.becalm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main6Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intermedial.intermedio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intermedial.intermedio_distract"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intermedial.IntermedioFocus"
            android:label="@string/title_activity_intermedio_focus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intermedial.IntermedioRelax"
            android:screenOrientation="portrait" />
        <activity android:name=".Main5Activity" />
        <activity android:name=".fragment.Stress" />
        <activity android:name=".fragment.MediumStress" />
        <activity android:name=".fragment.HardStress" />
        <activity android:name=".Main7Activity"></activity>
    </application>

</manifest>